/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

.wrapper{
	width: 970px;
	background-color: #1d355c;
	padding: 10px;
}

.header{
	background-color: #cc323b;
	margin-bottom: 15px;
	color: white;
	border-radius: 5px;
	padding: 10px;
	/*display: inline-block;*/
}

.main_content{
	font-size: 80%;
}

.left{
	background-color: #2f7d8b;
	display: inline-block;
	color: white;
	border-radius: 10px;
	padding: 25px;
}

ul {
	margin-left: 20px;
}

.subcontents{
	background-color: #0f1822;
	text-decoration-color: white;
	display: inline-block;
	vertical-align: top;
	color: white;
	border-radius: 10px;
	padding: 30px;
	margin-left: 15px;
	width: 696px;
}
.subcontents p{

	margin: 10px 0px;

}

a:link {
	color:#62d3e1;
}

a:visited {
	color:gray;
}

.footer{
	background-color: #5e6672;
	margin-top: 15px;
	color: white;
	border-radius: 15px;
	padding: 10px;
}

/*#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;
 margin: 0px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin-top: 20px;
 margin-right: 15px;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 padding: 15px;
 vertical-align: top;
 margin-top: 20px;


}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display:inline-block;
 margin-right: 10px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 display: block;
 margin-top: 20px;
}*/

